<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }} - {% endif %} {{ site.head_title | escape }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <meta property="og:title" content="{{ site.head_title}}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:image" content="{{site.url}}/images/pic03.jpg">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:locale" content="de_DE">

  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <!--<link href="{{"/css/fullcalendar/main.min.css" | prepend: site.baseurl}}" rel='stylesheet' />-->
  <link rel="stylesheet" href="{{"/css/litepicker.css" | prepend: site.baseurl }}"/>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.wellness-pb.de",
      "name": "LPT-Wellness GbR",
      "alternateName": "Wellness Paderborn",
      "telephone": "+49160 2017067",
      "acceptsReservations": true,
      "address": "Thüringer Weg 22, 33098 Paderborn",
      "email": "info@wellness-pb.de",
      "sameAs": [
        "https://www.instagram.com/mobile_sauna_paderborn/",
        "https://www.facebook.com/mobilesaunapaderborn"
      ]
    }
  </script>
</head>
